page-result {
    .scroll-content {
    }

    ion-content {
        background-image: linear-gradient(180.2deg, rgba(30, 33, 48, 1) 6.8%, rgba(34, 58, 70, 1) 131%);
    }

    #main-cont {
        color: color($colors, txt-dark);

        #results-div {
            width: 100vw;
            margin: auto;
            background-color: #122;
            border-radius: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-image: radial-gradient(ellipse 30% 50%, #5F6775, #1F2735 50%);
        }

        #result {
            font-size: 72px;
            color: #e33;
            margin: auto;
            width: fit-content;
            text-shadow: 0px 4px #000;
        }

        #nickname {
            color: #e33;
            font-size: 36px;
            margin-top: 0;
        }

        #details-div * {
            margin-top: 0;
        }

        #details-label {
            font-size: 2em;
            color: color($colors, primary);
        }

        .row {
            width: 90%;
            height: 45vh;
            margin: auto;

            .col {
                margin: 10px 20px 10px 20px;
                width: 25%;
                border-radius: 10px;
                background-color: rgba(30,30,30,.4);
                .graph {
                    width: 100%;
                    height: 50%;
                    margin-top: -90px !important;
                    margin-bottom: -60px !important;
                }
                .mindline-introvert {
                  background-image: radial-gradient(ellipse 20% 1%, #B3E8F0, transparent 250%);
                }
                .mindline-extrovert {
                  background-image: radial-gradient(ellipse 20% 1%, #EF8127, transparent 250%);
                }
                .energyline-observant {
                  background-image: radial-gradient(ellipse 20% 1%, #F0E93A, transparent 250%);
                }
                .energyline-intuitive {
                  background-image: radial-gradient(ellipse 20% 1%, #8738AF, transparent 250%);
                }
                .natureline-feeling {
                  background-image: radial-gradient(ellipse 20% 1%, #FF3127, transparent 250%);
                }
                .natureline-thinking {
                  background-image: radial-gradient(ellipse 20% 1%, #6BCE50, transparent 250%);
                }
                .tacticsline-prospecting {
                  background-image: radial-gradient(ellipse 20% 1%, #EB97E9, transparent 250%);
                }
                .tacticsline-judging {
                  background-image: radial-gradient(ellipse 20% 1%, #0189C3, transparent 250%);
                }

                .trait-label {
                    font-size: 1.8em;
                    padding-top: 5px !important;
                }
            }
        }
    }

    #app-title {
        color: color($colors, primary);
        padding-bottom: 10px;
        font-size: 4em;
    }

    @media (max-width: 1023px) {
        #main-cont {
            .row {
                .col {
                    min-width: 33vw !important;
                    min-height: 33vw;
                    .trait-label {
                        margin: 10px;
                    }
                    .graph {
                        max-height: 100px;
                        margin-top: -50px !important;
                        margin-bottom: -20px !important;
                    }
                }
            }
        }
    }
    @media (max-width: 850px) {
        #main-cont {
            .row {
                .col {
                    min-width: 50vw !important;
                    min-height: 50vh !important;
                    img {
                        zoom: .5;
                    }
                }
            }
        }
    }
}
