page-home {
    .scroll-content {
        overflow: hidden;
    }

    ion-content {
        background-image: linear-gradient(180.2deg, rgba(30, 33, 48, 1) 6.8%, rgba(34, 58, 70, 1) 131%);
    }

    #main-cont {
        color: color($colors, txt-dark);
    }

    #app-title {
        color: color($colors, primary);
        padding-top: 200px;
        padding-bottom: 10px;
        font-size: 70px;
    }

    #intro-desc {
        font-size: 24px;
    }

    #mediaLogins {
        position: absolute;
        left: 25vw;
        width: 50vw;
        top: 25vh;
        height: 50vh;

        h2 {
            font-size: 2em;
        }

        .list-md {
            border-radius: 10px !important;
            
            height: inherit;

            .item-md {
                background-color: transparent;
                font-size: 2.5em;
                color: #f7f7f7;
                //background-color: transparent;
                border-radius: 20px;
                .checkbox {
                    opacity: .6;
                    height: 20px;
                    width: 20px;
                    margin-right: 10px;
                }
                .item-inner {
                    border: none;
                    .input-wrapper .label {
                    opacity: .8;
                    }
                }
                transition: background-image ease-in .5s !important;
            }
            
            #youtube {
                //color: color($colors, youtube);
                background-image: radial-gradient( circle 700px at 10% 20%,  rgba(205,0,0,1) 0%, rgba(0,0,0,0) 40vw );
                .checkbox-icon {
                    width: 100%;
                    height: 100%;
                }
            }
            
            #youtube:hover {
                cursor: pointer;
                background-image: radial-gradient( circle 700px at 10% 20%,  rgba(155,0,0,1) 0%, rgba(0,0,0,0) 40vw );
            }
        }
    }

    .btn {
        color: color($colors, txt-light);
        //        background-image: linear-gradient( 18deg,  rgba(0,139,50,1) 5%, rgba(0,214,32,1) 121% );
        background-image: radial-gradient(circle 775px at 50.6% -1.5%, rgba(0, 214, 32, 1) 6.2%, rgba(0, 139, 50, 1) 50.2%);
    }

    .btn:hover {
        background-color: color($colors, btn-hover) !important;
    }

    #mainBtn {
        height: 15vh;
        font-size: 8vh;
    }

    @media (max-width: 1023px) {
        #app-title {
            padding-top: 150px;
            font-size: 4em !important;
        }

        #intro-desc {
            font-size: 1.5em !important;
        }

        #mediaLogins {
            left: 15vw;
            width: 70vw;
        }
        
        #youtube {
            background-image: radial-gradient( circle 700px at 10% 20%,  rgba(205,0,0,1) 0%, rgba(0,0,0,0) 60vw ) !important;
        }
        
        #youtube:hover {
            background-image: radial-gradient( circle 700px at 10% 20%,  rgba(155,0,0,1) 0%, rgba(0,0,0,0) 60vw ) !important;
        }
    }
}
