page-home {
    ion-content {
        background-color: color($colors, dark) !important;
    }
    
    #main-cont {
        color: color($colors, txt-dark);
    }
    
    #app-title {
        color: color($colors, primary);
        padding-top: 200px;
        padding-bottom: 10px;
        font-size: 70px;
    }

    #intro-desc {
        font-size: 24px;
    }
    
    #mediaLogins {
        position: absolute;
        top: 25vh;
        left: 15vw;
        width: 70vw;
        height: 50vh;
        background-color: #050505;
        ion-list {
            .item-md {
                //background-color: transparent;
            }
        }
    }
    
    .btn {
        color: color($colors, txt-light);
        background-color: color($colors, btn-active);
    }
    
    .btn:hover {
        background-color: color($colors, btn-hover) !important;
    }
    
    #mainBtn {
        height: 15vh;
        font-size: 8vh;
    }
}
