<ion-content text-center>
    <div id="main-cont">
        <h1 [@slideUp]="showMedia ? 'up' : 'normal'" id="app-title">Yourtrait</h1>
        <hr [@fadeInLine]="fadeInLine ? 'in' : 'out'" style="position: relative; top: -200px; background-color: #5DDFDF" id="titleLine">

        <!-- Intro Page -->
        <div [@fadeInOut]="showMedia ? 'out' : 'in'">
            <p id="intro-desc"><i>Determine your Myers-Brigg personality through social media analysis</i></p>
            <br>
            <h3><a target="_blank" href="">What is a Myers-Brigg personality?</a></h3>
            <br>
            <h3><a target="_blank" href="">GitHub repository</a></h3>
        </div>
        <div id="mediaLogins" [@fadeInOut]="showMedia ? 'in' : 'out'">
            <h2>Provide your social media accounts:</h2>
            <br>
            <button [disabled]="youtubeCheck" (click)="loginYoutube()" color="youtube" ion-button icon-start large round class="huge-button">
              <ion-icon *ngIf="!youtubeLoading && !youtubeCheck" name="logo-youtube"></ion-icon>
              <span *ngIf="!youtubeLoading && !youtubeCheck">Youtube</span>
              <ion-spinner *ngIf="youtubeLoading" name="crescent"></ion-spinner>
              <ion-icon *ngIf="youtubeCheck" name="checkmark"></ion-icon>
            </button>
            <button [disabled]="redditCheck" (click)="loginReddit()" color="reddit" ion-button icon-start large round class="huge-button">
              <ion-icon *ngIf="!redditLoading && !redditCheck" name="logo-reddit"></ion-icon>
              <span *ngIf="!redditLoading && !redditCheck">Reddit</span>
              <ion-spinner *ngIf="redditLoading" name="crescent"></ion-spinner>
              <ion-icon *ngIf="redditCheck" name="checkmark"></ion-icon>
            </button>
            <button [disabled]="facebookCheck" (click)="loginFacebook()" color="facebook" ion-button icon-start large round class="huge-button">
              <ion-icon *ngIf="!facebookLoading && !facebookCheck" name="logo-facebook"></ion-icon>
              <span *ngIf="!facebookLoading && !facebookCheck">Facebook</span>
              <ion-spinner *ngIf="facebookLoading" name="crescent"></ion-spinner>
              <ion-icon *ngIf="facebookCheck" name="checkmark"></ion-icon>
            </button>
        </div>
    </div>
</ion-content>

<ion-footer no-border>
    <button [disabled]="!loggedIn" (click)="showMedia ? submit() : start()" ion-button large full class="btn no-margin" id="mainBtn" color="btn" [@disableBtn]="loggedIn ? 'enabled' : 'disabled'">
        START
    </button>
</ion-footer>
